body {
    margin: 0;
    padding: 0;
    background: #fce77d;
}
.fud {
    background: #fce77d;
    color: #f96167;
    text-align: center;
    border: 10px solid #f96167;
    width: 115px;
    border-radius: 100px;
    padding: 10px;
    margin-left: 44.5%;
    text-shadow: 2px 2px #fd8589;
    margin-top: 2%;
    
}

#top {
    margin-bottom: -23px;
}

.container {
    border: 2px solid#f96167;
    box-shadow: 5px 5px #fd8589;
    background: whitesmoke;
    text-align: center;
    width: 400px;
    height: 550px;
    margin-left: 35%;
    margin-top: 4%;
    margin-bottom: 3%;
    font-family: "raleway";
}

#fud {
    width: 300px;
    height: 380px;
    margin: 30px;
    border: 10px solid lightgray;
}

.col-md-6 {
    margin: 10px;
    
}

#icon1 {
    float: left;
    height: 70px;
    width: 55px;
    margin-top: -10px;
    margin-left: 10%;
}

#icon2 {
    float: right;
    height: 48px;
    width: 48px;
    margin-right: 10%;
}